#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

#screen {
    margin-top: 10vh;
}

#screen .word-slot {
    display: inline-block;

    font-size: 13vh;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10vw;
    padding-right: 10vw;

    transition: font-size .1s, opacity .3s, max-height, .3s;
}

#screen .word-slot.hidden {
    font-size: 10vh;
    opacity: 0;
}

#screen .word-slot.hidden:hover {
    opacity: 1;
}

#panel {
    margin-top: 5vh;
}

#panel > ul {
    font-size: 20px;
    list-style: none;
    margin: 10px auto;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#panel li {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background .2s, color .2s;
}

#panel li.bordered {
    border: solid 2px #bdd;
}

#panel li:hover {
    background-color: #bdd;
    color: #fff;
}
